<?php include('includes/functions.php'); ?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title><?php if(defined('TITLE')) {
    print TITLE;
  } else {
    print 'My Note List Page'
  } 
  ?> </title>
</head>
<body>
  <div id="container">
      <header>
          <h1>PHP Notelist Application</h1>
      </header>
   
<!--BEGIN CHANGEABLE CONTENT -->
  
